/* App.css */
body {  
  background-color: #ffffff;
  color: black; /* Default text color for light mode */
}

.dark-mode {
  background-color: #222222 !important;
  ;
  color: white !important;
  ;
}




