

.form-floating {
  position: relative;
}

.form-floating .invalid-tooltip,
.form-floating .invalid-feedback {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  width: 100%;
  margin-top: 0.25rem;
}

.btn-group {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.form-floating {
  margin-bottom: 3rem; /* Add space between input fields */
}
