
#upperRow{
    position: fixed;
}

.row{
    margin-bottom: 20px;
}

/* #main_screen{
    padding-top: 122px;
  } */

.card {
    width: 18rem;
    margin-bottom: 20px;
}

.card > img{
    height: 170px;
    border-radius: 5%;
  }


