#buttons-video {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .rounded-button {
    border-radius: 20px;
    padding: 5px 15px;
    margin: 0 5px;
    display: flex;
    align-items: center;
  }
  
  .btn-dark-mode {
    background-color: #333;
    color: #ddd;
    border: 1px solid #555;
  }
  
  .btn-light-mode {
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ddd;
  }
  
  .active-like {
    color: #00f;
  }
  
  .active-dislike {
    color: #f00;
  }
  