.left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Adjust width as needed */
    height: 100%;
    background-color: white; /* Ensure background is set */
    overflow-y: auto; /* Allow scrolling if menu content overflows */
    z-index: 1000; /* Ensure it's above other content */
    padding-top: 60px; /* Adjust for header height if necessary */
    border-right: 1px solid #ddd; /* Optional: Add border for visual separation */
  }

li:hover {
    background-color: #e0e1dc; /* Light background color */
}